.circleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    flex: 1;

    .greenCircle {
        width: 100px;
        border-width: 10px;
        border-style: solid;
        border-color: rgb(0, 188, 119);
        border-image: initial;
        border-radius: 50%;
        padding: 1rem;

        img {
            width: 100%;
        }
    }

    .circleContentDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2 {
            font-size: 1.25rem;
            font-weight: bold;
            margin-bottom: 8px;
            margin-top: 20px;
        }

        p {
            margin: 16px 0px;
        }
    }
}

@media screen and (max-width: 920px) {
    .circleContainer {
        flex-direction: column;
    }
}