.bannerArticle {
    height: 400px;
    overflow: hidden;
    width: 100%;
    position: relative;
    background-image: url(../../img/bank-tree-min.webp);
    background-position: 0% 33%;
    background-size: cover;
    background-repeat: no-repeat;

    .bannerDiv {
        position: absolute;
        right: 50px;
        top: 50px;
        width: 300px;
        margin: 2rem;
        background: white;
        padding: 2rem;
        text-align: left;
        font-size: 1.2rem;

        h1 {
            font-size: 1.5rem;
            font-weight: bold;
            line-height: normal;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 920px) {
    .bannerArticle {
        background-position: 0 -50px;
        height: 300px;

        .bannerDiv {
            position: relative;
            width: 200px;
            top: 2rem;
            right: 0px;
            margin: 0 auto;
            font-size: 0.9rem;

            h1 {
                font-size: 1rem;
            }
        }
    }
}